<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <!-- v-bind 特性被称为指令。指令带有前缀 v-，以表示它们是 Vue 提供的特殊特性。可能你已经猜到了，它们会在渲染的 DOM 上应用特殊的响应式行为。
    在这里，该指令的意思是：“将这个元素节点的 title 特性和 Vue 实例的 message 属性保持一致”。-->
    <span v-bind:title="message">
      鼠标悬停几秒钟查看此处动态绑定的提示信息！
    </span>
  </div>

  <!-- 抓不到我把 啦啦啦啦-->
  <div id="app-3">
    <span v-if="seen">
      seen为{{seen}}你才能看到我兄弟
    </span>
  </div>

  <!--app4.todos.push({ text: '新项目' }) 可以增加新的项-->
  <div id="app-4">
    <ul>
      <li v-for="(todo, index) in todos">
        集合遍历 {{todo.text}}-{{index}}
      </li>
    </ul>

    <ul>
      <li v-for="(val, index) in object">
        对象遍历 {{val}}-{{index}}
      </li>
    </ul>

  </div>

  <!-- 点击事件绑定 v-on:click-->
  <div id="app-5">
    <span> {{message}}</span>
    <button v-on:click='reverseMessage'> 点击字符串反转</button>
  </div>

  <!--Vue 还提供了 v-model 指令，它能轻松实现表单输入和应用状态之间的双向绑定。-->
  <div id="app-6">
    <span>{{message}}</span>
    <input v-model='message'></input>
  </div>

  <!-- vue组件-->
  <div id='app-7'>
    <ol>
      <todo-item></todo-item>
    </ol>
  </div>

  <!--动态列表-->
  <div id="app-8">
    <ol>
      <!--
      现在我们为每个 todo-item 提供 todo 对象
      todo 对象是变量，即其内容可以是动态的。
      我们也需要为每个组件提供一个“key”，稍后再
      作详细解释。
      item 属性绑定到了子组件的todo上
    -->
      <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </ol>
  </div>

  <div id="app-9">
    <span>a={{a}}</span>
  </div>

  <!-- 拦截绑定-->
  <div id="app-10">
    <span>{{foo}}</span>
    <button v-on:click='foo="xxx"'>change</button>
  </div>

  <!--测试三目运算-->
  <div id="app-11">
    <span>三目运算{{1>0?true:false}}</span>
  </div>

  <!-- 测试反转， 在console中输入 app12.message="abc"-->
  <div id="app-12">
    <span>message: {{message}}</span>
    </br>
    <!---->
    <span>reversedMessage: {{reversedMessage}}</span>
    </br>
    <span>reverseMessage: {{reverseMessage()}}</span>
  </div>

  <div id="watch-example">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{ answer }}</p>
  </div>

  <div id='app-13' v-bind:class='classObject'>
    app13 is hear
  </div>

  <!-- <div id='app-14' v-bind:class="[activeClass, errorClass]">
app14
</div> 
-->
  <!-- 可以通过 app14.isActive=false 动态调整属性-->
  <!--
<div id = 'app-14' v-bind:class="[isActive ? activeClass : '', errorClass]"></div>
-->
  <!-- 跟上面效果一致-->
  <div id='app-14' v-bind:class="[{ active: isActive }, errorClass]"></div>

  <!--
<div id='app-15' v-bind:style="{ color: activeColor, fontSize: fontSize + 'px' }">
my name is app-15
</div>
-->
  <div id='app-15' v-bind:style="styleObject">
    my name is app-15
  </div>

  <!-- vue-if-->
  <div id='app-16'>
    <div v-if="type === 'A'">
      A
    </div>
    <div v-else-if="type === 'B'">
      B
    </div>
    <div v-else-if="type === 'C'">
      C
    </div>
    <div v-else>
      Not A/B/C
    </div>
  </div>

  <!--登录方式-->
  <div id='app-17'>
    <template v-if="loginType === 'username'">
      <label>Username</label>
      <input placeholder="Enter your username" key="username-input">
    </template>
    <template v-else>
      <label>Email</label>
      <input placeholder="Enter your email address" key="email-input">
    </template>
  </div>

  <!--来十个数-->
  <div id='app-18'>
    <span v-for="n in 10">{{ n }} </span>
  </div>

  <!-- 实现todolist 的增加删除-->
  <div id='app-19'>
    <div>
      <form v-on:submit.prevent="addNewBook">
        <label for="addbook">add a book</label>
        <input v-model='bookname' id='addbook' placeholder='input book name'>
        <!--
     <button @click='addNewBook'>Add a book</button>
-->
        <button>Add a book</button>
      </form>
    </div>
    <div>
      <ol>
        <!-- 多种方式展现明细-->
        <!--
    <li v-for='book in books' v-bind:key='book.id'>{{book.name}}</li>
-->
        <li v-for='(book, index) in books' v-bind:name='book.name' v-bind:key='book.id'
          v-on:remove='books.splice(index,1)'>{{book.name}}</li>
        <!--
    <book-item v-for='(book, index) in books' v-bind:name='book.name' v-bind:key='book.id' v-on:remove='books.splice(index,1)'>{{book.name}}</book-item>
-->
        <!-- is 推荐 实现的效果与 <book-item> 相同，但是可以避开一些潜在的浏览器解析错误-->
        <!-- 组件中 prop获取name是通过v-bind:name 来获得-->
        <li is='book-item' v-for='(book, index) in books' v-bind:name='book.name' v-bind:key='book.id'
          v-on:remove='books.splice(index,1)'>{{book.name}}</li>
      </ol>
    </div>
  </div>

  <div id='app-20'>
    <button @click='say("hello")'>sayHello</button>
  </div>

  <div id='app-21'>
    <span>Multiline message is:</span>
    <p style="white-space: pre-line;">{{ message }}</p>
    <br>
    <textarea v-model="message" placeholder="add multiple lines"></textarea>
  </div>

  <!-- checkbox-->
  <div id='app-22'>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>
  </div>

  <div id='app-23'>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
  </div>

<div id='app-24'>
    <component-a><component-a>
    <component-b><component-b>
    <component-c><component-c>
  </div>

<div id='app-25'>
  <component-1></component-1>
  <component-2></component-2>
</div>

<div id='app-26'>
  <name-show hh='zhangsan'></name-show>
</div>

<div id='app-27'>
  <base-checkbox v-model="lovingVue"></base-checkbox>
  <p>这里通过自定义主键将lovingVue与 checked绑定, 喜欢vue吗? {{lovingVue}}</p>
</div>

<div id='app-28'>
  <base-input v-model="value"></base-input>
  <input v-model="message" placeholder="edit me">
  <p>Message is: {{ message }}</p>
  <p>加入过滤器后Message is: {{ message | capitalize }}</p>
</div>

<div id="app-29">
<base-layout>
  <template v-slot:header>
    <h1>Here might be a page title</h1>
  </template>

  <p>A paragraph for the main content.</p>
  <p>And another one.</p>

  <template v-slot:footer>
    <p>Here's some contact info</p>
  </template>
</base-layout>
  </div>

<!-- 这个没搞通-->
  <div id="app-30">
    <p>普通遍历方式</p>
    <ul>
      <li v-for='obj in filteredTodos'>
        {{obj.text}}
      </li>
    </ul>
    <br/>
    <todo-list v-bind:todos="todos">
      <template v-slot:todo="{ todo }">
      <span v-if="todo.id===1">✓</span>
      {{ todo.text }}
    </template>
    </todo-list>
  </div>

<!--焦点-->
  <div id='app-31'>
  <input v-focus></input>
  </div>

<!-- 自定义-->
  <div id="app-32" v-demo:foo.a.b="message"></div>

  <div id="app-33">
  <p>Scroll down the page</p>
  <p v-tack:left="[dynamicleft]">I’ll now be offset from the left instead of the top</p>
</div>

<div id='app-34' v-demo="{ color: 'white', text: 'hello!' }"></div>

<div id='app-35'>
<!--
<ul v-if="items.length">
  <li v-for="item in items">{{ item.name }}</li>
</ul>
<p v-else>No items found.</p>
-->
<repforif></repforif>
</div>

<div id = 'app-36'>
<anchored-heading :level="3">Hello world!</anchored-heading>
</div>
<script type="text/x-template" id="anchored-heading-template">
  <h1 v-if="level === 1">
    <slot></slot>
  </h1>
  <h2 v-else-if="level === 2">
    <slot></slot>
  </h2>
  <h3 v-else-if="level === 3">
    <slot></slot>
  </h3>
  <h4 v-else-if="level === 4">
    <slot></slot>
  </h4>
  <h5 v-else-if="level === 5">
    <slot></slot>
  </h5>
  <h6 v-else-if="level === 6">
    <slot></slot>
  </h6>
</script>

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <script src="index.js"></script>
</body>

</html>