server:
  port: 9411

zipkin:
  collector:
    rabbitmq:
      # 多个地址逗号分隔
      addresses: ${RABBITMQ_SERVER:localhost}:5672
#      host: ${RABBITMQ_SERVER:localhost}
#      port: ${RABBITMQ_SERVER_PORT:5672}
      username: ${RABBITMQ_SERVER_USERNAME:guest}
      password: ${RABBITMQ_SERVER_PASSWORD:guest}
      queue: zipkin
#  storage:
#    type: elasticsearch
#    elasticsearch:
#      cluster: elasticsearch
#      hosts: http://localhost:9200
#      index: zipkin
#      index-shards: 5
#      index-replicas: 1

spring:
  application:
    name: '@artifactId@'

eureka:
  client:
    serviceUrl:
      defaultZone: http://user:password@peer1:8761/eureka,http://user:password@peer2:8762/eureka #高可用配置
  instance:
    hostname: localhost
    port: 8761
