<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="user" class="com.lx.demo.javabeans.User">
      <property name="id" value="11"></property>
      <property name="name" value="lisi"></property>
      <property name="date" value="2018-08-03"></property>
   </bean>
   
   <bean id="custom" class="org.springframework.beans.factory.config.CustomEditorConfigurer">
      <property name="propertyEditorRegistrars">
         <list>
            <bean class="com.lx.demo.javabeans.SpringEditorRegistry"></bean>
         </list>
      </property>
   </bean>
</beans>