<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">首页</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--<script src="https://code.jquery.com/jquery-1.11.3.js" /> <script src="http://start.spring.io/js/start.js" />-->
</head>
<body>
    <h1 th:text="${message}">hello</h1>
    <h1 th:text="${date}">date</h1>
    <h1> 什么jb玩意儿</h1>
</body>
</html>